@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Luckiest+Guy|Merienda|Notable|Permanent+Marker');

/* 
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Merienda', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Notable', sans-serif; 
*/

body{
    /* background: url(../images/background.jpg); */
    background: url(https://picsum.photos/1600/1200/?random);
}

header{
    margin-top: 30px;
}

.title{
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Luckiest Guy', cursive;
    /* font-family: 'Notable', sans-serif;  */
}

td {
    width: 50% !important;
}

.right-msg,
.wrong-msg,
.timeout-msg,
.timer-container,
.question-container,
.stats-container{
    display: none;
}

.instructions-container{
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.stats-container{
    font-size: 28px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    text-shadow: 4px 4px  black;
    /* opacity: .5; */
}

.msg-container{
    height: 120px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.msg{
    padding: 20px;
    border-radius: 10px;
}

.timer-container{
    font-size: 21px;
    line-height: 42px;
    height: 42px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto 10px auto;
    color: red;
}

.question-container{
    width: 70%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    /* opacity: .7; */
    /* z-index: 0; */
}

.start-game {
    margin-top: 30px;
}

@media (max-width: 768px) {
    body{
    /* background: url(../images/background.jpg); */
    background: url(https://picsum.photos/800/600/?random);   
    }
    
    .timer-container,
    .msg-container,
    .question-container{
        width: 90%;        
    }
}