@import url('https://fonts.googleapis.com/css?family=Cabin|KoHo|Maven+Pro|Montserrat');

main {
    margin-top: 20px;
}

body {
    background:darkblue;
}

.jumbotron {
    font-family: 'Montserrat', sans-serif;
    /* background-image: linear-gradient(270deg, lightblue , darkblue); */
    /* color: lightgray; */
}

.jumbotron a,
.jumbotron a:link,
.jumbotron a:visited,
.jumbotron a:hover,
.jumbotron a:active {
    /* color: darkgray; */
    text-decoration: none;
    color: darkblue;
}

section.items {
    margin-bottom: 80px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    /* color: darkgray; */
    text-decoration: none;
}

.active a,
.active a:link,
.active a:visited,
.active a:hover,
.active a:active {
    color: lightgrey;
    text-decoration: none;
}

.items i {
    font-size: 1.5em;
}

@media (min-width: 576px){
    body {
        background-image: linear-gradient(270deg, lightblue , darkblue);
    }
}